<?php
return [
    'db' => [
        'adapters' => [
            'zf3_mysql' => [
                'database' => '',
                'driver' => 'PDO_Mysql',
                'hostname' => 'localhost',
                'username' => '',
                'password' => '',
                'port' => '3306',
                'dsn' => 'mysql:dbname=;host=',
            ],
        ],
    ],
    'zf-mvc-auth' => [
        'authentication' => [
            'adapters' => [
                'oauth2 pdo' => [
                    'adapter' => \ZF\MvcAuth\Authentication\OAuth2Adapter::class,
                    'storage' => [
                        'adapter' => \pdo::class,
                        'dsn' => 'mysql:dbname=;host=',
                        'route' => '/oauth',
                        'username' => '',
                        'password' => '',
                    ],
                ],
            ],
        ],
    ],
];
