<?php
return [
    'db' => [
        'adapters' => [
            'zf3_mysql' => [
                'database' => 'zf3_apigility',
                'driver' => 'PDO_Mysql',
                'hostname' => 'db',
                'username' => 'zf3',
                'password' => 'zf3',
                'port' => '3306',
                'dsn' => 'mysql:dbname=zf3_apigility;host=db',
            ],
        ],
    ],
    'zf-mvc-auth' => [
        'authentication' => [
            'adapters' => [
                'oauth2_pdo' => [
                    'adapter' => \ZF\MvcAuth\Authentication\OAuth2Adapter::class,
                    'storage' => [
                        'storage' => 'user.auth.pdo.adapter',
                    ],
                ],
            ],
        ],
    ],
];
