<?php
return [
    'project' => [
        'sites' => [
           'activation_url' => 'https://aqilix.xyz/user/activation/:code',
           'contact_us' => 'https://aqilix.com'
        ],
    ],
    'php_process' => [
        'php_binary' => '/usr/bin/php',
        'script' => __DIR__ . '/../../public/index.php'
    ]
];
